.footer {
    display: flex;
    margin-top: 12px;
    padding: 0 var(--space-small) var(--space-small);
  }
  
  .footer a, .footer a:hover, .footer a:active {
    color: var(--font-color-base);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer__about {
  
  }
  
  .footer__support {
    flex-grow: 1;
    padding-left: 16px;
  }
  
  .footer__version {
    color: var(--font-color-light);
  }
