/* 
.style-selector > div > div,
.style-selector > div:hover > div {
  border: 0px solid var(--color-silver) !important;
} */
:root {
  --icon-width: 24px;
  --icon-height: 24px;
  --font-color-base: #000;
  --font-color-light: #ababab;
}

.style-selector > div:focus-within > div {
  border: 0px solid var(--color-silver) !important;
}
